# Log and runtime files
logs/

# Local environment configuration.env

.venv/
/backups
*.log
/disaster_recovery/backups
__pycache__/
/Archive
/backup_consolidation_20250716_004032
/backup_consolidation_20250716_003737
/archives
/_MANUAL_DELETE_FOLDER
/_ZERO_BYTE_QUARANTINE
