requests
pytest
pytest-cov
pytest-timeout
psutil
numpy
scikit-learn
Flask==3.1.1
qiskit==1.4.2
qiskit-aer==0.17.1
qiskit-machine-learning>=0.6.0
qiskit-ibm-provider==0.7.0
dill>=0.3.7
py7zr
typer[all]>=0.12
tqdm
PyYAML
schedule
ruff
PyPDF2>=3.0
hypothesis
